<section>
  <h2>Registrera konto</h2>
  <input [(ngModel)]="registerName" placeholder="Username">
  <input [(ngModel)]="registerEmail" placeholder="Email">
  <input [(ngModel)]="registerPassword" type="password" placeholder="Password">
  <button (click)="register()">Registrera</button>
  <p *ngIf="registerMessage">{{ registerMessage }}</p>
</section>

<section>
  <h2>Logga in</h2>
  <input [(ngModel)]="loginUsernameOrEmail" placeholder="Email or Username">
  <input [(ngModel)]="loginPassword" type="password" placeholder="Password">
  <button (click)="login()">Logga in</button>
  <p *ngIf="loginMessage">{{ loginMessage }}</p>
</section>