<section>
  <h2>Products</h2>
  <button (click)="loadProducts()">Get products</button>
  <div class="products">
    @for (product of products; track product.id) {
      <div class="product">
        <h3>{{ product.title }}</h3>
        <img [src]="product.image" alt="{{ product.title }}" width="100">
        <p>{{ product.description }}</p>
        <p><strong>Price:</strong> {{ product.price }} kr</p>
        <button (click)="order(product.id)">Order</button>
      </div>
    }
  </div>
  @if (message) {
    <p>{{ message }}</p>
  }
</section>